* {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
    height: 250px;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

a:link, i {
    color: black;
  }

.socials {
    margin-left: 95%;
    margin-left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
}

.mainbody {
    height: 100%;
}

  html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }

    }

.profile {
  font: caption;
  position: absolute;
  height: 425px;
  width: 650px;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(83, 79, 79, 0.85);
  color: rgb(0, 0, 0);
  border: black solid 2px;
  padding: 5px;
}

.profile-img{
  border-radius: 50%;
  height:100px;
  width: 100px;
  margin-top: 2%;
  margin-left: 7%;
  border: 1px solid black;
}

.profile-text{
  font-size: 40px;
  position: absolute;
  left: 53%;
  top: 13%;
  text-decoration: underline;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

#project-code{
  position: absolute;
  left: 80%;
  top: 10%;
}

.profile-text-description{
  font-size: 20px;
  position: absolute;
  left: 53%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.work-images{
  position: absolute;
  bottom: 29%;
  height: 150px;
  width: 100%;
  display:flex;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
}

.img_wrap {
  position: relative;
  height: 150px;
  width: 30%;
  left: 5.5%;
}

.work-images img {
  width: 95%;
  height: 150px;
  object-fit: cover;
}

.work-img_description {
  width: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(167, 29, 167, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .work-img_description {
  visibility: visible;
  opacity: 1;
}

.quotes {
  bottom: 8%;
  left: 20%;
  position: absolute;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font: caption;
  font-style: italic;
  font-size: 20px;
}

.social {
  transition: all .2s ease-in-out; 
  padding: 2px;
}

.social:hover { 
  transform: scale(1.3); 
  }


.project {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: inherit;
}