<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynn Owen</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/main_page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    
</head>
<body>

<div class="profile">
  <img src="/static/images/me.jpg" class="profile-img">
  <div class="profile-text">
    Flynn Owen
  </div>
  <div class="profile-text-description">
    Data Engineer
  </div>

  <div class="work-images">

    <div class="img_wrap">
      <img src="/static/images/FMM.png">
      <p class="work-img_description">Data Science</p>
    </div>

    <div class="img_wrap">
      <img src="/static/images/Database2.jpg">
      <p class="work-img_description">Databases</p>
    </div>

    <div class="img_wrap">
      <img src="/static/images/web-dev.jpg">
      <p class="work-img_description">Web Development</p>
    </div>

  </div>

<div class="quotes">
  <p>{{ quote }}</p>
</div>

  <div class="socials">

    <div class="social">
      <a href="/static/images/CV_new.pdf">
      <i class="fas fa-id-card" style='font-size:30px' class="social"></i>
      </a>
    </div>

    <div class="social">
      <a href="https://github.com/FlynnOwen">
      <i class="fab fa-github" style='font-size:30px' class="social"></i>
      </a>
    </div>
      
    <div class="social">
      <a href="https://www.linkedin.com/in/flynn-owen-076160135/">
      <i class="fab fa-linkedin" style='font-size:30px' class="social"></i>
      </a>
    </div>
    
  </div>

</div>
    
</body>
</html>