<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynn Owen</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/main_page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    
</head>
<body>

<div class="profile">
  <img src="/static/images/me.jpg" class="profile-img">
  <div class="profile-text">
    <h2>Flynn Owen</h2>
  </div>

  <div id="project-code" class="social">
    <a href="https://github.com/FlynnOwen/website_blog">
      <i class="fas fa-code-branch" style='font-size:30px'></i>
    </a>
  </div>

  <div id="main">
    <h2>&#128075; Hello! I'm Flynn.</h2>
    <p> Currently working as a data engineer. I love technology and doing cool things with data.</p>

  </div>

<div class="social-text-wrap">
  
  <div class="social-text">
    <a href="https://github.com/FlynnOwen">
      <i class="fab fa-github" style='font-size:30px' class="social"> Github </i>
    </a>
  </div>

  <div class="social-text" id="linkedin">
    <a href="/static/images/CV_new.pdf">
      <i class="fas fa-id-card" style='font-size:30px' class="social"> C.V </i>
    </a>
  </div>

</div>

<div class="social-text-final">
  <a href="https://www.linkedin.com/in/flynn-owen-076160135/">
    <i class="fab fa-linkedin" style='font-size:30px' class="social"> Linkedin </i>
  </a>
</div>

<div class="quotes">
  <p>{{ quote }}</p>
</div>

</div>
    
</body>
</html>