<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/main_page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>

<div class="wrapper">
    <div class="typing-demo">
        Hi. I'm Flynn. Welcome to my site.
    </div>
</div>

<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
      <li id="carousel__slide1"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper">
            <h2 class="project">GPT-3 Messenger Adaption</h2>
            <img src="../GPT-3.png" style="height: 100%; width: 100%;">
          <a href="#carousel__slide4"
             class="carousel__prev">Go to last slide</a>
          <a href="#carousel__slide2"
             class="carousel__next">Go to next slide</a>
        </div>
      </li>
      <li id="carousel__slide2"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper"></div>
            <h2 class="project">Hierarchical Likelihood Research</h2>
            <img src="../Hierarchical.png" style="height: 100%; width: 100%;">
        <a href="#carousel__slide1"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide3"
           class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide3"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper"></div>
        <h2 class="project">Website / Blog</h2>
        <img src="../blog.png" style="height: 100%; width: 100%;">
        <a href="#carousel__slide2"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide4"
           class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide4"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper"></div>
        <h2 class="project">Timetable Scheduling</h2>
        <a href="#carousel__slide3"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide1"
           class="carousel__next">Go to first slide</a>
      </li>
    </ol>
    <aside class="carousel__navigation">
      <ol class="carousel__navigation-list">
        <li class="carousel__navigation-item">
          <a href="#carousel__slide1"
             class="carousel__navigation-button">Go to slide 1</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide2"
             class="carousel__navigation-button">Go to slide 2</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide3"
             class="carousel__navigation-button">Go to slide 3</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide4"
             class="carousel__navigation-button">Go to slide 4</a>
        </li>
      </ol>
    </aside>
  </section>

<div class="footer">
    <div class="socials">
        <a href="https://github.com/FlynnOwen">
        <i class="fab fa-github" style='font-size:30px'></i>
        </a>
        
        <a href="https://www.linkedin.com/">
        <i class="fab fa-linkedin" style='font-size:30px'></i>
        </a>

        <a href="https://github.com/FlynnOwen">
        <i class="fas fa-envelope-square" style='font-size:30px'></i>
        </a>
    </div>


</div>
    
</body>
</html>